rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null &&
             request.auth.uid == "U62R58ZVVTcNeHX9TDvhldHkVh13";
    }
    match /{document=**} {
      allow read, write: if isOwner();
    }
  }
}
